NODE_ENV=production
DATABASE_URL=mongodb://localhost:27017/doctor-tracker
BCRYPT_SALT_ROUNDS=12

JWT_ACCESS_TOKEN=your_access_secret_here
JWT_REFRESH_TOKEN=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
NEXT_PUBLIC_SITE_URL=http://localhost:3000